[submodule "libuci-sys/libubox"]
	path = libuci-sys/libubox
	url = https://git.openwrt.org/project/libubox.git
	ignore = all
[submodule "libuci-sys/uci"]
	path = libuci-sys/uci
	url = https://git.openwrt.org/project/uci.git
	ignore = all
